$default-color: black;
$white: white; 

.faq-row-wrapper {
    background-color: var(--faq-bg-color, $white);
    h2 {
        margin: 0;
        color: var(--title-text-color, $default-color);
    }
    .faq-row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .row-body {
        .faq-row{
            flex-direction: column;

            .row-title {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                color: var(--row-title-color, $default-color);
                font-weight: 400;
                cursor: pointer;

                .icon-wrapper {
                    max-width: 20px;
                    max-height: 20px;
                    margin: 0;
                    padding: 0;

                    .arrow-image {
                        width: 100%;
                        height: 100%;
                    }
                }

                &.closed {
                    +.row-content {
                        max-height: 0;
                        visibility: hidden;
                    }

                    .icon-wrapper {
                       transform: rotate(0deg);
                       transition: transform 0.12s ease-in-out;
                    }
                }

                &.expanded {
                    +.row-content {
                        max-height: 100%;
                        visibility: visible;
                    }

                    .icon-wrapper {
                       transform: rotate(180deg);
                       transition: transform 0.12s ease-in-out;
                    }
                }
            }

            .row-content {
                color: var(--row-content-color, $default-color);
            }
        }
    }
}
