$default-color: black;
$white: white;
$default-row-title-size: large;
$default-row-content-size: medium;

.faq-row-wrapper {
    background-color: var(--faq-bg-color, $white);
    h2 {
        margin: 0;
        color: var(--title-text-color, $default-color);
    }
    .faq-row {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
    }

    .row-body {
        .faq-row {
            flex-direction: column;

            .row-title {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                color: var(--row-title-color, $default-color);
                font-weight: 400;
                font-size: var(--row-title-text-size, $default-row-title-size);
                letter-spacing: 0.25px;
                cursor: pointer;
                align-items: center;

                .icon-wrapper {
                    max-width: 25px;
                    max-height: 25px;
                    margin: 0;
                    padding: 0;
                    color: var(--arrow-color, $default-color);

                    .arrow-image,
                    svg {
                        width: 100%;
                        height: 100%;
                    }

                    svg {
                        fill: var(--arrow-color, $default-color);
                    }
                }

                &.closed {
                    + .row-content {
                        visibility: hidden;
                        z-index: -1;
                        &.animate {
                            opacity: 0;
                            transition: height 0.12s, opacity 0.12s;
                        }

                        &.static {
                            display: none;
                        }

                        .row-content-text {
                            margin: 0 0;
                        }
                    }

                    .icon-wrapper {
                        transform: rotate(0deg);
                        transition: transform 0.12s;
                    }
                }

                &.expanded {
                    + .row-content {
                        visibility: visible;
                        z-index: 0;
                        &.animate {
                            opacity: 1;
                            transition: height 0.12s, opacity 0.12s;
                        }

                        &.static {
                            display: block;
                        }

                        .row-content-text {
                            margin: var(--row-content-padding-top, 0) var(--row-content-padding-right, 0) var(--row-content-padding-bottom, 0) var(--row-content-padding-left, 0);
                        }
                    }

                    .icon-wrapper {
                        transform: rotate(180deg);
                        transition: transform 0.12s;
                    }
                }
            }

            .row-content-text {
                color: var(--row-content-color, $default-color);
                font-size: var(--row-content-text-size, $default-row-content-size);
            }
        }
    }
}
